html, body {
	height: 100%;
	margin: 0;
	font-family: 'HelveticaNeue','Helvetica', 'Roboto', sans-serif;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}


.row {
	margin-left: 0;
	margin-right: 0;
}


.full-height {
	height: 100%;
}

.main {
	height: 100%;
}

.side_panel {
	background-color: #1D2F3E;
	text-align: center;
	color: white;
	height: 100%;
}

.header_side {
	text-align: center;
	font-size: 4.5em;
	height: 30%;
	cursor: pointer;
}

.middle {
	height: 40%;
}

.links {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 35%;
	margin: auto;
/*	display: none;*/
}

.about_link, .skills_link, .projects_link {
/*	border: 0.1em solid #555555;*/
	font-size: 1.5em;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5em 0;
	cursor: pointer;
}

.highlight {
	background-color: white;
	color: #1D2F3E;
}

.about_link:hover, .skills_link:hover, .projects_link:hover {
	background-color: white;
	color: #1D2F3E;
}

.footer {
	height: 30%;
	font-size: 1.5em;
}

.social_links a {
	color: white;
}

.social_links i {
	font-size: 2em;
	margin: 0.25em;
}


.hero {
	height: 100%;
	text-align: center;
}


.hero_headline {
	font-size: 2.5em;
	text-align: center;
}

.header_first, .header_second, .header_third {
	display: none;
}

.header_second {
	text-align: center;
	font-size: 2em;
	height: 30%;
	cursor: pointer;
}

.header_third {
	margin-top: 2em;
	font-size: 1em;
}



.about_link_content {
	font-size: 1.25em;
	margin-left: 5em;
	margin-right: 5em;
	text-align: left;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


.skills_link_content {
	font-size: 1.25em;
	width: 80%;
	margin-left: 5em;
	margin-right: 5em;
	text-align: left;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.skills_link_content .row {
	margin-top: 3em;
	margin-bottom: 3em;
}

ul {
	list-style-type: none;
}




.projects_link_content {
	margin-top: 1em;
	padding-left: 3em;
	text-align: left;
	height: 90%;
	overflow: auto;
	max-height: 100vh 
}

.project {
	margin: 1em 0 2em 0;
}

.project_info {
	height: 100%;
}

.project_info_header {
	font-size: 2em;
	text-align: center;
	margin-bottom: 0.5em
}

.project_info_tech {
	width: 80%;
	margin: 1em auto;
	text-align: center;
	background-color: #1D2F3E;
	color: white;
}

.project_info_description {
	width: 80%;
	margin: 1em auto;
}

.project_info_links {
	width: 80%;
	margin: auto;
	padding-top: 0.5em;
	text-align: center
}

.btn, .btn:hover, .btn:visited, .btn:active {
	background-color: #1D2F3E;
	color: white;
	vertical-align: text-bottom;
}

.project_link {
	width: 50%;
	float: left;
}

.project_image {
	height: 100%;
	margin-bottom: 2em;
}

img {
	box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);
	width: 80%;
	margin: auto;
	display: block;
}


.templates {
	display: none;
}


.verticalCenter {
	position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}























