
$mainFont: 'HelveticaNeue','Helvetica', 'Roboto', sans-serif;
$secondFont: 'Libre Baskerville', serif;
$break-xsmall: 320px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
$darkBlue: #1D2F3E;
$lightBlue: #65A3D6;
$lightGray: #9297A6;

$gigPlay: url('../images/gigplay.png');
$attorneyGap: url('../images/AttorneyGap_Signin.png');
$campaignDonors: url('../images/AttorneyGap_Main.png');


@mixin links {
	a {
		color: white;
		&:hover {
			color: $lightBlue;
		}
	}
}

@mixin sectionHeader {
	font-weight: bold;
	font-size: 2em;
	color: $darkBlue;
	margin-top: 1em;
	margin-bottom: 1.5em;
	text-align: center;
	@media screen and (max-width: $break-small) {
		font-size: 1.5em;
	}
}

@mixin projectImage {
	height: 12em;
	width: 20em;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 0%;
	-webkit-transition: background-size 0.275s ease-in-out;
	transition: background-size 0.275s ease-in-out;
	flex-grow: 1;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;   
	&:hover{
	  background-size: 115%;
	}
	@media screen and (max-width: $break-large) {
		margin: 1em auto;
		height: 20em;
		width: 100%
	}
	@media screen and (max-width: $break-small) {
		margin: 1em auto;
		height: 10em;
		width: 100%
	}
	@media screen and (max-width: $break-xsmall) {
		margin: 1em auto;
		height: 10em;
		width: 100%
	}
	.box-info {
		background: rgba( 35, 35, 35, 0.7 );
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		-webkit-transition: opacity 0.45s ease-in-out;
		transition: opacity 0.45s ease-in-out;
		text-align: center;
		padding: 20% 0 0;
		font-weight: 900;
		font-size: 30px;
		font-family: "Lato", Helvetica, Arial, sans-serif;
		color: #fff;
		opacity: 0;
		&:hover{
		 opacity: 1;
		}
		a {
			color: #fff;
			text-decoration: none;
		}
	}
}

html, body {
	margin: 0;
	font-family: $mainFont;
}

.section_break {
	height: 5em;
	@media screen and (max-width: $break-small) {
		height: 3em;
	}
}

.inlineLink {
	&:hover {
		color: $lightBlue;
		text-decoration: none;
	}
}

#nav-icon1 {
	display:none;
  width: 60px;
  height: 45px;
  position: relative;
  margin-top: 1em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  @media screen and (max-width: $break-large) {
  	display: block;
  }
  span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: $lightBlue;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  background: $darkBlue;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  background: $darkBlue;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  background: $darkBlue;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


#menu {
	position: fixed;
	height: 100%;
	width: 25%;
	background-color: $darkBlue;
	text-align: center;
	color: white;
	@media screen and (max-width: $break-large) {
		display: none;
	}
	.menu_logo img{
		margin-top: 1em;
		width: 50%;
		cursor: pointer;
	}
	.menu_content {
		-webkit-transform: translateY(25%);
		-ms-transform: translateY(25%);
		transform: translateY(25%);
		#menu_links {
			font-size: 1.5em;
			@media screen and (max-width: $break-large) {
				font-size: 1em;
			}
			@media screen and (max-width: $break-small) {
				font-size: 0.75em;
			}
			.nav-link {
				margin: 0.75em auto;
			}
			@include links;
		}
	}
}

#hero {
	margin-left: 25%;
	overflow-y: scroll;
	position: absolute;
	opacity: 0;
	@media screen and (max-width: $break-large) {
		margin-left: 0;
	}
}

#main {
	text-align: center;
	overflow: auto;
	height: 100vh;
	@media screen and (max-width: $break-medium) {
		height: 75vh;
	}
	.main_content {
		position: relative;
		// top: 30%;
		-webkit-transform: translateY(70%);
		-ms-transform: translateY(70%);
		transform: translateY(70%);
		@media screen and (max-width: $break-large) {
			-webkit-transform: translateY(0%);
			-ms-transform: translateY(0%);
			transform: translateY(0%);
		}
		.main_header {
			font-weight: bold;
			font-size: 4.75em;
			color: $darkBlue;
			@media screen and (max-width: $break-medium) {
				font-size: 4em;
			}
			@media screen and (max-width: $break-small) {
				font-size: 2em;
			}
		}
		.main_middle {
			font-size: 1.5em;
			@media screen and (max-width: $break-small) {
				font-size: 1em;
			}
		}
		.main_links a {
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
			img {
				width: 3em;
				margin: 1em;
			}
		}
	}
}

#main::after {
	content: "";
	background: url('../images/hexagon_pattern.jpg') no-repeat center center; //Created by Eightonesix - Freepik.com
	background-size:cover;
	height: 100vh;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;  
	-webkit-filter: grayscale(1); 
	filter: grayscale(1);
	border-bottom: 0.1em solid black;
	@media screen and (max-width: $break-medium) {
		height: 75vh;
	}
}

#aboutMe {
	padding-top: 3em;
	.aboutMe_header {
		@include sectionHeader;
	}
	.aboutMe_left {
		font-family: $secondFont;
		@media screen and (max-width: $break-small) {
			font-size: 0.75em;
		}
	}
	.aboutMe_tools_header {
		text-align: center;
		color: $darkBlue;
		font-size: 1.5em;
		font-weight: bold;
		@media screen and (max-width: $break-large) {
			text-align: left;
			margin-left: 0.2em;
			padding-top: 0.5em;
		}
	}
	.tech_tools {
		text-align: center;
		.tool {
			margin: auto 0.5em;
			color: $lightGray;
			@media screen and (max-width: $break-large) {
				float: left;
			}
			@media screen and (max-width: $break-small) {
				font-size: 0.75em;
			}
		}
	}
}

#projects {
	.projects_header{
		@include sectionHeader;
	}
	.project_padding {
		height: 4em;
		@media screen and (max-width: $break-small) {
			height: 2em;
		}
	}
	.project {
		.project_title {
			font-size: 1.5em;
			color: $lightBlue;
			.project_demo {
				margin-left: 1em;
				img {
					width: 1.5em;
				}
			}
		}
		.project_info {
			color: $darkBlue;
			font-family: $secondFont;
			margin: 1em auto;
			@media screen and (max-width: $break-small) {
				font-size: 0.75em;
			}
		}
		.project_techs {
			color: $lightGray;
			@media screen and (max-width: $break-medium) {
				float: left;
				width: 100%;
			}
			@media screen and (max-width: $break-small) {
				font-size: 0.75em;
			}
		}
		.project_links {
			margin: 1em auto;
			@media screen and (max-width: $break-medium) {
				float: left;
				width: 40%;
				margin: auto;
			}
		}
		.project_image_gigPlay {
			background-image: url('../images/gigplay1.png');
			@include projectImage;
		}
		.project_image_attorneyGap {
			background-image: url('../images/attorneyGap1.png');
			@include projectImage;
		}
		.project_image_campaignDonors {
			background-image: url('../images/campaignDonors1.png');
			@include projectImage;
		}		
	}
}

#contact {
	margin-bottom: 3em;
	.contact_header {
		@include sectionHeader;
	}
	#contact_form {
	}
}


.form {
	display: block;
	.form_div {
		position: relative;
		// max-height: 150px;
		margin-bottom: 1.25em;
		.form_input {
			width: 100%;
			height: 2em;
			text-indent: 2.5em;
			border: 0.1em solid black;
		}
		.form_textarea {
			width: 100%;
			height: 10em;
			text-indent: 2.5em;
			border: 0.1em solid black;
		}
		.form_label {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 2em;
			height: 2em;
			border: 0.1em solid black;
			text-align: center;
			background-color: $darkBlue;
			i {
				font-size: 1.5em;
				color: white;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.form_submit {
			overflow: auto;
			button {
				float: right;
				margin-top: 1em;
				color: white;
				background-color: $darkBlue;
				border: none;
				padding: 0.25em;
				width: 7.5em;
				cursor: pointer;
				&:hover {
					background-color: $lightBlue;
				}
			}	
		}
	}
}


























