html, body {
  margin: 0;
  font-family: "HelveticaNeue", "Helvetica", "Roboto", sans-serif; }

#menu {
  position: fixed;
  height: 100%;
  width: 20%;
  background-color: #1D2F3E;
  text-align: center;
  color: white; }
  @media screen and (max-width: 992px) {
    #menu {
      display: none; } }
  #menu .menu_content {
    margin: 4em auto; }
    #menu .menu_content #menu_links {
      font-family: "Libre Baskerville", serif;
      font-size: 1.5em; }
      #menu .menu_content #menu_links a {
        color: white; }
        #menu .menu_content #menu_links a:hover {
          color: white; }

#hero {
  margin-left: 20%;
  overflow-y: scroll;
  position: relative; }
  @media screen and (max-width: 992px) {
    #hero {
      margin-left: 0; } }

#main {
  text-align: center;
  overflow: auto;
  height: 100vh; }
  @media screen and (max-width: 768px) {
    #main {
      height: 75vh; } }
  #main .main_content {
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%); }
    #main .main_content .main_header {
      font-weight: bold;
      margin-bottom: 0.5em;
      font-size: 4.75em;
      color: #1D2F3E; }
      @media screen and (max-width: 768px) {
        #main .main_content .main_header {
          font-size: 4em; } }
      @media screen and (max-width: 576px) {
        #main .main_content .main_header {
          font-size: 3.5em; } }
    #main .main_content .main_middle {
      font-size: 2em; }
      @media screen and (max-width: 576px) {
        #main .main_content .main_middle {
          font-size: 1.5em; } }
    #main .main_content .main_links a {
      font-size: 3em;
      color: black;
      margin: 0.5em;
      text-decoration: none; }

#main::after {
  content: "";
  background: url("../images/hexagon_pattern.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  border-bottom: 0.1em solid black; }
  @media screen and (max-width: 768px) {
    #main::after {
      height: 75vh; } }

#aboutMe {
  padding-top: 3em; }
  #aboutMe .aboutMe_header {
    font-weight: bold;
    font-size: 3em;
    color: #1D2F3E;
    margin-bottom: 0.5em; }
  #aboutMe .aboutMe_tools_header {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    color: #1D2F3E;
    margin-bottom: 0.5em; }
    @media screen and (max-width: 768px) {
      #aboutMe .aboutMe_tools_header {
        text-align: left;
        padding-top: 0.5em; } }
  #aboutMe .tech_tools {
    text-align: center; }
    #aboutMe .tech_tools .tool {
      margin: auto 0.5em; }
      @media screen and (max-width: 768px) {
        #aboutMe .tech_tools .tool {
          float: left; } }

#projects {
  padding-top: 3em; }
  #projects .projects_header {
    font-weight: bold;
    font-size: 3em;
    color: #1D2F3E;
    margin-bottom: 0.5em; }
  #projects .project {
    margin-bottom: 5em; }
    #projects .project .project_title {
      font-weight: bold;
      font-size: 2em; }
    #projects .project .project_info {
      font-family: "Libre Baskerville", serif;
      margin: 1em auto; }
    @media screen and (max-width: 768px) {
      #projects .project .project_techs {
        float: left;
        width: 60%; } }
    #projects .project .project_links {
      margin: 1em auto; }
      @media screen and (max-width: 768px) {
        #projects .project .project_links {
          float: left;
          width: 40%;
          margin: auto; } }
      #projects .project .project_links .project_link {
        background-color: #1D2F3E;
        text-align: center;
        color: white;
        float: left;
        padding: 0.5em;
        border: 0.1em solid black;
        margin-right: 0.5em;
        width: 6em; }
    #projects .project .project_image img {
      border: 0.2em solid #979797;
      width: 100%;
      position: relative;
      top: 55%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media screen and (max-width: 768px) {
        #projects .project .project_image img {
          width: 80%;
          margin-left: 10%;
          margin-top: 0.75em; } }

#contact {
  margin-bottom: 3em; }
  #contact .contact_header {
    font-weight: bold;
    font-size: 3em;
    color: #1D2F3E;
    margin-bottom: 0.5em; }
  #contact .contact_info {
    font-size: 1em;
    text-align: center; }

.form {
  display: block; }
  .form .form_div {
    position: relative;
    max-height: 150px;
    margin-bottom: 1.25em; }
    .form .form_div .form_input {
      width: 100%;
      height: 2em;
      text-indent: 2.5em;
      border: 0.1em solid black; }
    .form .form_div .form_textarea {
      width: 100%;
      height: 10em;
      text-indent: 2.5em;
      border: 0.1em solid black; }
    .form .form_div .form_label {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 2em;
      height: 2em;
      border: 0.1em solid black;
      text-align: center;
      background-color: black; }
      .form .form_div .form_label i {
        font-size: 1.5em;
        color: white;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
    .form .form_div .form_submit {
      overflow: auto; }
      .form .form_div .form_submit button {
        float: right;
        margin-top: 1em;
        color: white;
        background-color: black;
        border: none;
        padding: 0.25em;
        width: 7.5em;
        cursor: pointer; }

/*# sourceMappingURL=style.css.map */
