html, body {
  margin: 0;
  font-family: "HelveticaNeue", "Helvetica", "Roboto", sans-serif; }

#menu {
  background-color: #1D2F3E;
  text-align: center;
  color: white; }
  #menu .menu_content {
    margin: 4em auto;
    position: fixed; }
    #menu .menu_content .menu_header {
      font-weight: bold;
      font-size: 2em; }
    #menu .menu_content #menu_links {
      font-family: "Libre Baskerville", serif;
      font-size: 1.5em; }
      #menu .menu_content #menu_links a {
        color: white; }
        #menu .menu_content #menu_links a:hover {
          color: white; }

#hero {
  overflow-y: scroll;
  position: relative; }

#main {
  text-align: center;
  overflow: auto;
  height: 100vh; }
  #main .main_content {
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%); }
    #main .main_content .main_header {
      font-weight: bold;
      margin-bottom: 0.5em;
      font-size: 5em;
      color: #1D2F3E; }
    #main .main_content .main_middle {
      font-size: 2em; }
    #main .main_content .main_links a {
      font-size: 3em;
      color: black;
      margin: 0.5em;
      text-decoration: none; }

#main::after {
  content: "";
  background: url("../images/hexagon_pattern.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  border-bottom: 0.1em solid black; }

#aboutMe {
  padding-top: 3rem; }
  #aboutMe .aboutMe_header {
    font-size: 3em;
    font-weight: bold;
    color: #1D2F3E;
    margin-bottom: 1em; }
  #aboutMe .aboutMe_right {
    text-align: center; }
    #aboutMe .aboutMe_right .aboutMe_right_header {
      font-weight: bold; }

#projects {
  padding-top: 3em; }
  #projects .projects_header {
    font-weight: bold;
    font-size: 3em;
    margin: 0.5em auto; }
  #projects .project {
    margin-bottom: 5em; }
    #projects .project .project_title {
      font-weight: bold;
      font-size: 2em; }
    #projects .project .project_info {
      font-family: "Libre Baskerville", serif;
      margin: 1em auto; }
    #projects .project .project_links {
      margin: 1em auto; }
      #projects .project .project_links .project_link {
        background-color: #1D2F3E;
        text-align: center;
        color: white;
        float: left;
        padding: 0.5em;
        border: 0.1em solid black;
        margin-right: 0.5em;
        width: 6em; }
    #projects .project .project_image img {
      border: 0.2em solid #979797;
      max-width: 100%;
      position: relative; }

#contact {
  margin-bottom: 3em; }
  #contact .contact_header {
    font-weight: bold;
    font-size: 3em;
    margin: 0.5em auto; }
  #contact .contact_info {
    font-size: 1em; }

.form {
  display: block;
  margin-top: 0em; }
  .form .form_div {
    position: relative;
    max-height: 150px;
    margin-bottom: 1.25em; }
    .form .form_div .form_input {
      width: 100%; }
    .form .form_div .form_textarea {
      width: 100%;
      height: 10em; }

/*# sourceMappingURL=style.css.map */
