
$mainFont: 'HelveticaNeue','Helvetica', 'Roboto', sans-serif;
$secondFont: 'Libre Baskerville', serif;
$break-xsmall: 320px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

@mixin links {
	a {
		color: white;
		&:hover {
			color: white;
		}
	}
}

@mixin sectionHeader {
	font-weight: bold;
	font-size: 3em;
	color: #1D2F3E;
	margin-bottom: 0.5em;
}

html, body {
	margin: 0;
	font-family: $mainFont;
}

#menu {
	position: fixed;
	height: 100%;
	width: 20%;
	background-color: #1D2F3E;
	text-align: center;
	color: white;
	@media screen and (max-width: $break-large) {
		display: none;
	}
	.menu_content {
		margin: 4em auto;

		#menu_links {
			font-family: $secondFont;
			font-size: 1.5em;
			@include links;
		}
	}
}

#hero {
	margin-left: 20%;
	overflow-y: scroll;
	position: relative;
	@media screen and (max-width: $break-large) {
		margin-left: 0;
	}
}

#main {
	text-align: center;
	overflow: auto;
	height: 100vh;
	@media screen and (max-width: $break-medium) {
		height: 75vh;
	}
	.main_content {
		position: relative;
		top: 30%;
		-webkit-transform: translateY(-30%);
		-ms-transform: translateY(-30%);
		transform: translateY(-30%);

		.main_header {
			font-weight: bold;
			margin-bottom: 0.5em;
			font-size: 4.75em;
			color: #1D2F3E;
			@media screen and (max-width: $break-medium) {
				font-size: 4em;
			}
			@media screen and (max-width: $break-small) {
				font-size: 3.5em;
			}
		}
		.main_middle {
			font-size: 2em;
			@media screen and (max-width: $break-small) {
				font-size: 1.5em;
			}
		}
		.main_links a {
			font-size: 3em;
			color: black;
			margin: 0.5em;
			text-decoration: none;
		}
	}
}

#main::after {
	content: "";
	background: url('../images/hexagon_pattern.jpg') no-repeat center center; //Created by Eightonesix - Freepik.com
	background-size:cover;
	height: 100vh;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;  
	-webkit-filter: grayscale(1); 
	filter: grayscale(1);
	border-bottom: 0.1em solid black;
	@media screen and (max-width: $break-medium) {
		height: 75vh;
	}
}

#aboutMe {
	padding-top: 3em;
	.aboutMe_header {
		@include sectionHeader;
	}
	.aboutMe_left {

	}
	.aboutMe_tools_header {
		text-align: center;
		@include sectionHeader;
		@media screen and (max-width: $break-medium) {
			text-align: left;
			padding-top: 0.5em;
		}
	}
	.tech_tools {
		text-align: center;
		.tool {
			margin: auto 0.5em;
			@media screen and (max-width: $break-medium) {
				float: left;
			}
		}
	}
}

#projects {
	padding-top: 3em;
	.projects_header{
		@include sectionHeader;
	}
	.project {
		margin-bottom: 5em;
		.project_title {
			font-weight: bold;
			font-size: 2em;
		}
		.project_info {
			font-family: $secondFont;
			margin: 1em auto;
		}
		.project_techs {
			@media screen and (max-width: $break-medium) {
				float: left;
				width: 60%;
			}
		}
		.project_links {
			margin: 1em auto;
			@media screen and (max-width: $break-medium) {
				float: left;
				width: 40%;
				margin: auto;
			}
			.project_link {
				background-color: #1D2F3E;
				text-align: center;
				color: white; 
				float: left;
				padding: 0.5em;
				border: 0.1em solid black;
				margin-right: 0.5em;
				width: 6em;
			}
		}
		.project_image  {
			img {
				border: 0.2em solid #979797;
				width: 100%;
				position: relative;
				top: 55%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				@media screen and (max-width: $break-medium) {
					width: 80%;
					margin-left: 10%;
					margin-top: 0.75em;
				}
			}
		}	
	}
}

#contact {
	margin-bottom: 3em;
	.contact_header {
		@include sectionHeader;
	}
	.contact_info {
		font-size: 1em;
		text-align: center;
	}
	#contact_form {
		// display: none;
	}
}


.form {
	display: block;
	.form_div {
		position: relative;
		max-height: 150px;
		margin-bottom: 1.25em;
		.form_input {
			width: 100%;
			height: 2em;
			text-indent: 2.5em;
			border: 0.1em solid black;
		}
		.form_textarea {
			width: 100%;
			height: 10em;
			text-indent: 2.5em;
			border: 0.1em solid black;
		}
		.form_label {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 2em;
			height: 2em;
			border: 0.1em solid black;
			text-align: center;
			background-color: black;
			i {
				font-size: 1.5em;
				color: white;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.form_submit {
			overflow: auto;
			button {
				float: right;
				margin-top: 1em;
				color: white;
				background-color: black;
				border: none;
				padding: 0.25em;
				width: 7.5em;
				cursor: pointer;
			}	
		}
	}
}


























